<!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>I am a recent grad(yay!) from Rutgers University. I studied Computer Science on the Artificial Intelligence & Cognitive Science track and completed a Philosophy minor.</p>
                <p>In my free time, I love trying new cuisines, starting more books I can finish, and planning itineraries for my future trips. </p>
                <p>Want to contact me?<a href="mailto:sanhitha.c@gmail.com"> Email me!</a><p>
                <p>Connect with me on Linkedin <a href="https://linkedin.com/in/sanhitha">here!</a></p>
                <p>Check out my github <a href="http://github.com/sanhithac">here!</a></p>
            </div>
        </div>
    </section>
